In [54]:
import numpy as np
import pandas as pd
import statistics  as s

df = pd.read_csv("C://Users//Rajat//Desktop//Semester 4 - Final//ADS//R - tutorial//ClassData.csv")
df

,No,GPA,Years of work experience,Latest salary (per year),Highest GPA,Lowest GPA,Coops/Internships (YN),Number of contacts on Linkedin,Expected Salary after graduation
0,1,3.50,2.5,45000,3.50,3.50,N,250,90000
1,3,3.80,1.0,65000,3.60,3.00,Y,400,100000
2,4,3.80,2.0,85000,4.00,3.60,Y,500,90000
3,5,3.41,1.5,10000,3.41,3.33,N,365,100000
4,6,3.33,5.0,70000,3.67,3.00,Y,400,100000
5,7,3.52,2.5,27000,3.58,3.52,N,230,85000
6,8,3.50,2.0,40000,3.70,3.30,N,250,90000
7,9,3.50,5.0,75000,3.53,3.30,Y,260,100000
8,10,3.60,2.5,65000,3.90,3.10,Y,250,110000
9,11,3.20,4.0,62000,3.80,3.00,N,525,105000
10,12,3.50,2.0,60000,3.50,3.50,N,400,85000
11,13,3.67,1.8,60000,4.00,3.00,N,920,140000
12,14,3.50,2.0,60000,3.70,3.30,y,300,90000
13,15,3.47,2.5,70000,3.64,3.37,Y,310,95000
14,16,3.06,1.3,40000,3.64,2.67,Y,550,120000
15,17,3.27,2.0,60000,4.00,3.00,Y,350,100000
16,18,3.53,4.0,50000,4.00,3.30,N,600,88000
17,19,4.00,4.0,50000,4.00,4.00,Y,500,130000
18,20,3.40,1.0,30000,3.60,3.10,N,500,80000
19,21,3.54,1.0,40000,4.00,3.42,Y,650,95000
20,22,3.50,2.0,75000,4.00,3.00,Y,515,80000
21,23,3.50,4.0,50000,3.80,3.20,Y,350,110000
22,24,3.40,3.0,50000,3.80,3.20,Y,301,90000
23,26,3.30,4.0,65000,4.00,3.65,Y,700,100000
24,27,3.90,6.0,90000,4.00,3.80,Y,809,120000
25,28,3.17,1.0,50000,3.30,3.00,N,258,100000
26,29,3.48,3.5,60000,4.00,3.33,Y,350,100000
27,30,3.93,4.0,43000,4.00,3.28,Y,900,100000
28,31,3.43,4.0,60000,3.50,3.30,Y,220,110000
29,32,3.33,5.0,5000,3.66,3.00,Y,183,100000
30,33,3.60,1.5,60000,3.70,3.40,Y,340,100000
31,34,3.80,3.0,65000,3.80,3.50,Y,800,80000
32,35,3.50,3.0,65000,4.00,3.60,Y,400,80000
33,36,3.39,2.0,60000,3.80,3.20,Y,500,90000

# Min, Max, Median, Avg for GPA and YearofWorkExp

In [113]:
print('The Min of the GPA is \t{} \nThe Max of the GPA is \t{}  \nThe Median of the GPA is {} \nThe average is \t\t{:.2f}'.format(np.min(df.GPA),
                                                                                                               np.max(df.GPA),
                                                                                                               np.median(df.GPA),
                                                                                                               np.average(df.GPA)))

The Min of the GPA is 	3.06
The Max of the GPA is 	4.0
The Median of the GPA is 3.5
The average is 		3.51

In [110]:
print('The Min of the YearofWorkExp is \t{} \nThe Max of the YearofWorkExp is \t{}\nThe Median of the YearofWorkExp is \t{}\nThe average is \t\t\t\t{:.2f}'.format(np.min(df['Years of work experience']),
                                                                                                 np.max(df['Years of work experience']),
                                                                                                 np.median(df['Years of work experience']),
                                                                                                np.average(df['Years of work experience'])) )

The Min of the YearofWorkExp is 	1.0
The Max of the YearofWorkExp is 	6.0
The Median of the YearofWorkExp is 	2.5
The average is 				2.81

# 2) Find the mode of the Salary

In [56]:
s.mode(df['Latest salary (per year)'])

60000

# 3) % of students having Co/op and not having Co/op

In [90]:
Coop_Y = 0;
Coop_N = 0;
Total = 0;
for f in (df['Coops/Internships (YN)']):
        Total  = Total + 1;
        if (f == 'Y' or f == 'y'):
            Coop_Y = Coop_Y + 1
        elif(f  == 'N'):
            Coop_N = Coop_N + 1 
            
print (Coop_Y/Total * 100)
print (Coop_N/Total * 100)

70.58823529411765
29.411764705882355

# No of students with more than 500 LinkedIn contacts

In [93]:
count = 0;
for f in (df['Number of contacts on Linkedin']):
    if (f > 500):
        count = count + 1
print(count)

10

# Find the Inter Quartile Range for the Expected Salalry Range?

In [99]:
q3 = np.percentile(df['Expected Salary after graduation'],75)
q1 = np.percentile(df['Expected Salary after graduation'],25)
IQR = q3 - q1
print (IQR);

10000.0